<!-- Displays a table with the ToDo's information in the variable [toDos] -->
<div id="toDoTableDiv" ng-controller="showResultCtrl">
	<table class="table table-striped todotable">
		<thead>
			<tr>
				<th class="col-sm-5">Task Description</th>
				<th class="col-sm-2">Date</th>
				<th class="col-sm-2">Status</th>
				<th class="col-sm-1">Priority</th>
				<th class="col-sm-1"></th>
				<th class="col-sm-1 cancel-edit-col"></th>
				<th class="col-sm-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="todo in toDos">
				<td>
					<span ng-hide="editingData[todo._id]">{{todo.task}}</span>
					<input type="text" ng-model="todo.task" ng-show="editingData[todo._id]"/>
				</td>
				<td>
					<span ng-hide="editingData[todo._id]">{{todo.date | date: 'dd/mm/yy HH:mm'}}</span>
					<input type="datetime-local" ng-model="todo.date" ng-show="editingData[todo._id]"/>
				</td>
				<td>
					<span ng-hide="editingData[todo._id]">{{todo.status}}</span>
					<select ng-model="todo.status" required ng-show="editingData[todo._id]">
						<option value="ToDo">ToDo</option>
						<option value="On Progress">On Progress</option>
					</select>
				</td>
				<td class="priority">
					<span ng-hide="editingData[todo._id]">{{todo.priority}}</span>
					<input type="number" min="1" max="10" ng-model="todo.priority" ng-show="editingData[todo._id]"/>
				</td>
				<td>
					<img alt="Modify" src="/images/edit.png" class="tableImg editIcon" ng-hide="editingData[todo._id]"
						 title="Modify ToDo" ng-click="modify(todo, $index)">
					<img alt="Modify" src="/images/save-icon.png" class="tableImg cancelEditIcon" ng-hide="!(editingData[todo._id])"
						 title="Save ToDo edition" ng-click="saveToDo(todo, $index)">
				</td>
				<td class="cancel-edit-col">
					<img alt="Cancel Edit" src="/images/edit-cancel.png" class="tableImg cancelEdit"
						 title="Candel ToDo edition" ng-click="cancelEditing(todo, $index)">
				</td>
				<td>
					<img alt="Delete" src="/images/delete_icon.png" class="tableImg delIcon"
						 title="Delete ToDo" ng-click="deleteToDo(todo)">
				</td>
			</tr>
		</tbody>
	</table>
	<span id="errorSpan" ng-bind="errorMessage"></span>
</div>