<div class="panel-footer">
    <form role="form" name="addToDoForm" ng-submit="addToDo()">
        <div class="form-group">
            <label id="labelAddDesc" for="inputAddDesc">Task Description:</label>
            <input id="inputAddDesc" type="text" class="form-control" placeholder="Description"
                   ng-model="fields.task" required>
        </div>
        <div class="form-group">
            <label id="labelAddContext" for="inputAddContext">Task Context:</label>
            <input id="inputAddContext" type="text" class="form-control" placeholder="Context" required
                   ng-model="fields.context">
        </div>
        <div class="form-group">
            <label id="labelAddProject" for="inputAddProject">Task Project:</label>
            <input id="inputAddProject" type="text" class="form-control" placeholder="Project" required
                   ng-model="fields.project">
        </div>
        <div class="form-group">
            <label id="labelAddPriority" for="inputAddPriority">Task Priority:</label>
            <input id="inputAddPriority" type="number" min="1" max="10" class="form-control" placeholder="Priority" required
                   ng-model="fields.priority">
        </div>
        <button type="submit" class="btn btn-primary" id="formButton">Add ToDo</button>
        <button type="button" ng-click="closeAddToDoForm()" class="btn btn-danger" id="closeFormButton">Close</button>
    </form>
</div>