<!-- Displays a table with the ToDo's information in the variable [toDos] -->
<div id="toDoTableDiv" ng-controller="showResultCtrl">
	<table class="table table-striped todotable">
		<thead>
			<tr>
				<th>Task Description</th>
				<th>Date</th>
				<th>Status</th>
				<th>Priority</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="todo in toDos">
				<td>{{todo.task}}</td>
				<td>{{todo.date | date: "dd-MMM-yyyy HH:mm"}}</td>
				<td>{{todo.status}}</td>
				<td class="priority">{{todo.priority}}</td>
				<td style="padding-left: 50px; padding-right: 20px">
					<img alt="edit" src="/images/edit.png" class="tableImg" ng-click="deleteToDo(todo)">
				</td>
				<td style="padding-left: 50px; padding-right: 20px">
					<img alt="delete" src="/images/delete_icon.png" class="tableImg" ng-click="deleteToDo(todo)">
				</td>
			</tr>
		</tbody>
	</table>
	<span id="errorSpan" ng-bind="errorMessage"></span>
</div>