<div class="panel-footer">
    <form role="form" name="searchToDoForm" ng-submit="searchToDos()" novalidate="">
        <div class="form-group">
            <label id="labelSearchField"  for="selectSearchField">ToDo field:</label><br>
            <select id="selectSearchField" class="form-control"
                    ng-change="checkSearchInputType(); checkEnableSearchFormSubmitButton();"
                    ng-model="selector" ng-options="s.name for s in selectors" required>
            </select>
        </div>
        <div class="form-group">
            <label id="labelSearchQuery" for="inputSearchQuery">Text to match:</label>
            <input type="text" class="form-control" id="inputSearchQuery" placeholder="Text"
                   ng-change="checkEnableSearchFormSubmitButton()" ng-model="query" ng-show="showInputSearch" required>
            <input type="number" min="1" max="10" class="form-control" id="inputSearchPriority" placeholder="Priority"
                   ng-change="checkEnableSearchFormSubmitButton()" ng-model="query" ng-hide="hideInputSearchPriority" required>
        </div>
        <button type="submit" class="btn btn-primary" id="formButton" ng-disabled="submitSearchDisabled">Search</button>
        <button type="button" ng-click="closeSearchToDoForm()" class="btn btn-danger" id="closeFormButton">Close</button>
    </form>
</div>