<!-- Displays a table with the ToDo's information in the variable [toDos] -->
<div id="toDoTableDiv" ng-controller="showResultCtrl">
	<table class="table table-striped todotable">
		<thead>
			<tr>
				<th>#</th>
				<th>Task Description</th>
				<th>Context</th>
				<th>Project</th>
				<th>Priority</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="todo in toDos">
				<td ng-bind="todo.id"></td>
				<td ng-bind="todo.task"></td>
				<td ng-bind="todo.context"></td>
				<td ng-bind="todo.project"></td>
				<td class="priority" ng-bind="todo.priority"></td>
				<td style="padding-left: 50px; padding-right: 20px">
					<img alt="delete" src="/images/delete_icon.png" class="deleteImg" ng-click="deleteToDo(todo)">
				</td>
			</tr>
		</tbody>
	</table>
	<span id="errorSpan" ng-bind="errorMessage"></span>
</div>