<div class="panel-footer">
    <form role="form" name="addToDoForm" ng-submit="addToDo()">
        <div class="form-group">
                <label id="addFormTaskLabel" for="inputAddTask">Task Description:</label>
                <input id="inputAddTask" type="text" class="form-control"placeholder="Description"
                       ng-model="fields.task" required>
        </div>
        <div class="form-group input-append date">
            <label id="addFormDateLabel" for="inputAddDate">Task Date:</label>
            <input id="inputAddDate" type="datetime-local" class="form-control"  ng-model="fields.date" required>
        </div>
        <div class="form-group">
            <label id="addFormStatusLabel" for="inputAddStatus">Task Status:</label>
            <input id="inputAddStatus" type="text" class="form-control" placeholder="Status" required
                   ng-model="fields.project">
        </div>
        <div class="form-group">
            <label id="addFormPriorityLabel" for="inputAddPriority">Task Priority:</label>
            <input id="inputAddPriority" type="number" min="1" max="10" class="form-control" placeholder="Priority" required
                   ng-model="fields.priority">
        </div>
        <button type="submit" class="btn btn-primary" id="formButton">Add ToDo</button>
        <button type="button" ng-click="closeAddToDoForm()" class="btn btn-danger" id="closeFormButton">Close</button>
    </form>
</div>