.jumbotron {
	padding-bottom: 10px;
	padding-top: 10px;
}

.buttonsPanel{
	width: 100%;
	text-align: center;
}

.actionButton{
	margin-left: 20px;
}

.toDoTable{
	margin-top: 20px;
	float: left;
	position: relative;
	width: 100%;
}


/*ADD TODO FORM*/
#inputAddDesc, #inputAddContext, #inputAddProject{
	width: 50%;
	margin-left: 25%;
}
#inputAddPriority{
	width: 10%;
	margin-left: 25%;
}
#labelAddDesc{
	margin-right: 39.5%;
}
#labelAddContext{
	margin-right: 41.5%;
}
#labelAddProject{
	margin-right: 42%;
}
#labelAddPriority{
	margin-right: 41.5%;
}
#closeAddFormButton{
	margin-left: 20px;
}


th#taskCol{
	min-width: 300px;
	max-width: 300px;
}
th#contextCol, #projectCol{
	min-width: 250px;
	max-width: 250px;
}
th#idCol, #priorityCol{
	min-width: 50px;
	max-width: 50px;
}

#errorSpan{
	font-weight: bold;
	color: red;
}

.deleteImg{
	width: 20px;
	height: 20px;
}
.deleteImg:hover{
	cursor: pointer;
}