<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>ToDo List</title>

	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
	  <!-- Include all compiled plugins (below), or include individual files as needed -->
	  <script src="/javascripts/angularApp.js"></script>
	  <!-- Bootstrap -->
	  <link href="/stylesheets/style.css" rel="stylesheet">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="/stylesheets/datepicker.css">
	  <script src="/javascripts/bootstrap-datepicker.js"></script>

	  <!--Remov ToDo's button tooltip-->
	  <script type="text/javascript">
		  $(function () {
	  		$('[data-toggle="tooltip"]').tooltip()
		  });
	  </script>
  </head>
  <body ng-app="toDoApp" ng-controller="MainCtrl">
	<div class="container">
		<div class="jumbotron">
			<h3 style="text-align: center">Welcome to the ToDo Web App!</h3>
		</div>
		<div class="container">
			<!-------->
			<div id="content">
				<div id="home">
					<div class="panel panel-info buttonsPanel">
						<div class="panel-heading">Actions for managing your ToDo's</div>
						<div class="panel-body" ng-controller="ActionButtonsCtrl">
							<button type="button" id="addToDoButton" ng-click="showHideAddForm()"
									class="btn btn-success actionButton">Add ToDo</button>
							<input type=search class="form-control inputSearch" results=5 name=s placeholder=Search...
									ng-model="query" ng-change="searchToDos()">
							<button type="button" id="removeToDosButton" ng-click="showHideRemoveForm()"
									class="btn btn-danger actionButton"
									data-toggle="tooltip" data-placement="top"
									title="Remove multiple ToDo's at once!">Remove ToDo's</button>
						</div>
						<div ng-controller="addToDoFormCtrl" ng-show="addTodoFormShow" class="fadein fadeout">
							<todo-add-form>
							</todo-add-form>
						</div>
						<div ng-controller="removeToDosFormCtrl" ng-show="removeTodoFormShow" class="fadein fadeout">
							<todo-remove-form>
							</todo-remove-form>
						</div>
					</div>
					<todos-table></todos-table>
				</div>
			</div>
		</div> <!-- container -->
	</div>
  </body>
</html>