<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo List</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body ng-app="toDoApp">
	<div class="container">
		<div class="jumbotron">
			<h1 style="text-align: center">Welcome to the ToDo Web App!</h1>
		</div>
		
		<div class="container">
			<!-------->
			<div id="content">
				<div id="home">
					<!--<div class="leftForm">
						<form role="form" name="addToDoForm" ng-submit="addToDo()" ng-controller="addToDoFormCtrl">
						  <div class="form-group">
							<label for="inputDescription">Task Description:</label>
							<input type="text" class="form-control" id="inputDescription" placeholder="Description" required
								ng-model="fields.task">
						  </div>
						  <div class="form-group">
							<label for="inputContext">Task Context:</label>
							<input type="text" class="form-control" id="inputContext" placeholder="Context" required
								ng-model="fields.context">
						  </div>
						  <div class="form-group">
							<label for="inputProject">Task Project:</label>
							<input type="text" class="form-control" id="inputProject" placeholder="Project" required
								ng-model="fields.project">
						  </div>
						  <div class="form-group">
							<label for="inputPriority">Task Priority:</label>
							<input type="number" min="1" max="10" class="form-control" id="inputPriority" placeholder="Priority" required
								ng-model="fields.priority">
						  </div>
						  <button type="submit" class="btn btn-primary" id="formButton">Add ToDo</button>
						</form>
					</div>-->
					<div class="panel panel-info buttonsPanel">
						<div class="panel-heading">Actions for managing your ToDo's</div>
						<div class="panel-body">
							<button type="button" id="addToDoButton" ng-click="addTodoFormShow=!addTodoFormShow"
									class="btn btn-success actionButton">Add ToDo</button>
							<button type="button" class="btn btn-primary actionButton">List All ToDo's</button>
							<button type="button" class="btn btn-danger actionButton">Remove ToDo's</button>
						</div>
						<div ng-controller="ToDoAddFormCtrl" ng-show="addTodoFormShow" class="fadein fadeout">
							<todo-add-form>
							</todo-add-form>
						</div>
					</div>
					<todos-table></todos-table>
				</div>
			</div>
		</div> <!-- container -->
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>

  </body>
</html>