<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo List</title>

    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body ng-app="toDoApp">
	<div class="container">
		<div class="jumbotron">
			<h1 style="text-align: center">Welcome to the ToDo Web App!</h1>
		</div>
		
		<div class="container">
			<!-------->
			<div id="content">
				<div id="home">
					<div class="panel panel-info buttonsPanel">
						<div class="panel-heading">Actions for managing your ToDo's</div>
						<div class="panel-body" ng-controller="ActionButtonsCtrl">
							<button type="button" id="addToDoButton" ng-click="showHideAddForm()"
									class="btn btn-success actionButton">Add ToDo</button>
							<button type="button" id="listToDosButton" ng-click="showHideSearchForm()"
									class="btn btn-primary actionButton">Search ToDo's</button>
							<button type="button" class="btn btn-danger actionButton">Remove ToDo's</button>
						</div>
						<div ng-controller="ToDoAddFormCtrl" ng-show="addTodoFormShow" class="fadein fadeout">
							<todo-add-form>
							</todo-add-form>
						</div>
						<div ng-controller="ToDoSearchFormCtrl" ng-show="searchTodoFormShow" class="fadein fadeout">
							<todo-search-form>
							</todo-search-form>
						</div>
					</div>
					<todos-table></todos-table>
				</div>
			</div>
		</div> <!-- container -->
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>


  </body>
</html>