<!-- Displays a table with the ToDo's information in the variable [toDos] -->
<div id="toDoTableDiv" ng-controller="toDosTableCtrl">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<form>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input type="text" class="form-control" placeholder="Search ToDo" ng-model="searchQuery">
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4"></div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="checkbox pull-right">
				<label>
					<input type="checkbox" ng-model="checkPastToDos" ng-change="applyPastToDosFilter()">
					Hide past ToDo's
				</label>
			</div>
		</div>
	</div>

	<table class="table table-striped todotable">
		<thead>
			<tr>
				<th class="col-sm-4">
					<a href="#" ng-click="sortType = 'task'; sortReverse = !sortReverse">
						Task Description
						<span ng-show="sortType == 'task' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'task' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th class="col-sm-3">
					<a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
						Date
						<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th class="col-sm-2">
					<a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
						Status
						<span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th class="col-sm-2">
					<a href="#" ng-click="sortType = 'priority'; sortReverse = !sortReverse">
						Priority
						<span ng-show="sortType == 'priority' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'priority' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</th>
				<th class="col-sm-1"></th>
				<th class="col-sm-1 cancel-edit-col"></th>
				<th class="col-sm-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="todo in toDos | orderBy:sortType:sortReverse | filter:searchQuery | itemsPerPage:5">
				<td>
					<span ng-hide="editingData[todo._id]">{{todo.task}}</span>
					<input type="text" ng-model="todo.task" ng-show="editingData[todo._id]"/>
				</td>
				<td>
					<span ng-hide="editingData[todo._id]">{{transformDate(todo.date) | date : 'dd/MM/yy HH:mm'}}</span>
					<input date-formatter type="datetime-local" ng-model="todo.date" ng-show="editingData[todo._id]"/>
				</td>
				<td>
					<span ng-hide="editingData[todo._id]">{{todo.status}}</span>
					<select ng-model="todo.status" required ng-show="editingData[todo._id]">
						<option value="ToDo">ToDo</option>
						<option value="On Progress">On Progress</option>
					</select>
				</td>
				<td class="priority">
					<span ng-hide="editingData[todo._id]">{{todo.priority}}</span>
					<input type="number" min="1" max="10" ng-model="todo.priority" ng-show="editingData[todo._id]"/>
				</td>
				<td>
					<img alt="Modify" src="/img/edit.png" class="tableImg editIcon" ng-hide="editingData[todo._id]"
						 title="Modify ToDo" ng-click="modify(todo, $index)">
					<img alt="Modify" src="/img/save-icon.png" class="tableImg cancelEditIcon" ng-hide="!(editingData[todo._id])"
						 title="Save ToDo edition" ng-click="saveToDo(todo, $index)">
				</td>
				<td class="cancel-edit-col">
					<img alt="Cancel Edit" src="/img/edit-cancel.png" class="tableImg cancelEdit"
						 title="Cancel ToDo edition" ng-click="cancelEditing(todo, $index)">
				</td>
				<td>
					<img alt="Delete" src="/img/delete_icon.png" class="tableImg delIcon"
						 title="Delete ToDo" ng-click="deleteToDo(todo)">
				</td>
			</tr>
		</tbody>
	</table>

	<dir-pagination-controls
			max-size="5"
			direction-links="true"
			boundary-links="true"
			auto-hide="false" >
	</dir-pagination-controls>
	<span id="errorSpan" ng-bind="errorMessage"></span>
</div>