.jumbotron {
	padding-bottom: 10px;
	padding-top: 10px;
}
.container{
	padding: 0 !important;
	width: 100% !important;
}
.buttonsPanel{
	width: 100%;
	text-align: center;
}

/* BUTTONS PANEL */
.actionButton{
	margin-left: 20px;
}
#addToDoButton {
	float: left;
	font-weight: bold;
	margin-right: 25%;
}
#removeToDosButton{
	float: right;
	margin-right: 20px;
}


/*FORMULARIES*/
#selectSearchField{
	width: 15%;
}
#addToDoForm .row {
	margin-left: 20px;
}
#addToDoForm input, #addToDoForm select {
	width: 200px;
}
#addToDoForm label {
	margin-top: 6px;
}
#inputAddTask{
	margin-left: 16px;
}
#inputAddDate{
	margin-left: 63px;
}
#inputAddStatus{
	margin-left: 50px;
}
#inputAddPriority{
	margin-left: 45px;
}
#removeToDoForm .row {
	 margin-right: 20px !important;
}
#removeToDoForm label {
	margin-top: 5px;
}
#removeToDoForm input, #removeToDoForm select {
	width: 200px;
}
.form-control{
	margin-left: 2%;
}
.form-group {
	display: -webkit-box !important;
}
#closeFormButton{
	margin-left: 20px;
}

/*TODO's TABLE*/
#toDoTableDiv .input-group .form-control {
	margin-left: 0;
}

table.todotable {
	width: 100%;
}

table.todotable td:nth-of-type(4) {text-align: center}
table.todotable td:nth-of-type(5) {padding-left: 20px !important;}
table.todotable td:nth-of-type(6) {padding-left: 20px !important;}
table.todotable td:nth-of-type(7) {padding-left: 20px !important;}

table.todotable input, table.todotable select {
	height: 25px;
}

table.todotable td {
	word-break: break-all;
}
#toDoTableDiv{
	margin-top: 20px;
	float: left;
	position: relative;
	width: 100%;
}
#errorSpan{
	font-weight: bold;
	color: red;
}
.tableImg{
	 width: 20px;
	 height: 20px;
}
.tableImg.cancelEdit {
	width: 30px;
	height: 25px;
}
.tableImg:hover{
	cursor: pointer;
}

/*Transition for show & hide the formularies*/
.fadein,
 .fadeout {
	 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	 -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	 -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	 transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
 }

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
	opacity: 0;
	display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	display: block !important;
}


/*  MEDIA QUERIES */
@media screen and (max-width: 545px){
	.actionButton {
		display: none !important;
	}
	#addIconBtn, #removeIconBtn{
		display: block !important;
		height: 44px;
		width: 50px;
		margin-left: 20px;
	}
	#addIconBtn {
		float: left;
		font-weight: bold;
		margin-right: 25%;
	}
	#removeIconBtn {
		float: right;
		margin-right: 20px;
	}
}
@media screen and (max-width: 440px){
	#removeToDoForm input, #removeToDoForm select {
		width: 150px;
	}
}
@media screen and (max-width: 400px){
	#addIconBtn {
		margin-left: -5px;
		margin-right: 30%;
	}
	#removeIconBtn {
		margin-right: 0;
	}
}
@media screen and (max-width: 375px){
	#removeToDoForm input, #removeToDoForm select {
		width: 100px;
		height: 28px;
	}
	#removeToDoForm .form-control, #removeToDoForm label {
		font-size: 12px;
	}
	#removeToDoForm .row {
		margin-right: 10px !important;
	}

}